<h2>@<%= @user.username %></h2>
<p><%= @user.email %></p>

<p><%= link_to "Following #{@user.users_that_i_follow.count}", 
  "/users/followed_by/#{@user.id}", :title => "Lista degli utenti che #{@user} segue" %></p>

<% if current_user %>
  <p>
    <% if current_user.not_following? @user %>
      <form method="post" action="/followings/create/<%= @user.id %>">
        <input type="submit" value="Follow <%= @user.username %>" />
      </form>
    <% elsif current_user.following? @user %>
      <form method="post" action="/followings/destroy/<%= @user.id %>">
        <input type="submit" value="Unfollow <%= @user.username %>" />
      </form>
    <% end %>
  </p>
<% end %>
<% if current_user == @user %>
  <p><%= link_to "Aggiorna il tuo profilo", :action => "edit", :id => @user.id %></p>
<% end %>

<%= render :partial => "shared/tweets", :object => @user.tweets %>
