<p id="logged_in_user">
  <% if current_user %>
      Logged in as <%= current_user %> (<%= link_to "logout", "/sessions/destroy" %>)
  <% else %>
    <%= link_to "Please sign in", "/sessions/new" %>
  <% end %>
</p>

<% if current_user %>
  <form id="new_tweet" action="/tweets/create" method="post">
    <input type="hidden" name="tweet[user_id]" value="<%= current_user.id %>" />
    <p>
      <textarea name="tweet[text]"></textarea>
    </p>
    <p>
      <input type="submit" value="Update your status" />
    </p>
  </form>
<% end %>

<ul class="tweets">
  <% for tweet in @tweets %>
  <li>
    <%= render :partial => "tweet", :locals => {:tweet => tweet} %>
  </li>
  <% end %>
</ul>
